/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.center{
    text-align: center;
}

.next{
    background-color:blueviolet;
    color: white;
}
.back{
    background-color: grey;
}

.right{
    text-align: right;
}

.mr-10{
    margin-right: 10px !important;
}

.ml-10{
    margin-left: 10px !important;
}

.mb-10{
    margin-bottom: 10px !important;
}

table {width: 100%;}

::ng-deep .mat-form-field-readonly {
    .mat-form-field-wrapper {
      .mat-form-field-flex {
        .mat-form-field-outline {
          .mat-form-field-outline-start {
            background-color: rgba(19, 12, 12, 0.25) !important;
          }
  
          .mat-form-field-outline-gap {
            background-color: rgba(212, 208, 208, 0.25) !important;
          }
  
          .mat-form-field-outline-end {
            background-color: rgba(15, 13, 13, 0.25) !important;
          }
        }
      }
    }
  }

  .primary{
    color: blue;
  }

  .danger{
    color: red;
  }

  .grey{
    color: grey;
  }